<!DOCTYPE html>
<html lang="en">
    <img src="donol2.jpg" alt="Banner Image" style="width:100%; height:auto;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="/assets/style.css">
    <style>
        nav {
            background-color: #35424a;
            padding: 10px;
        }
        nav a {
            color: white;
            margin: 0 15px;
            text-decoration: none;
        }
        nav a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <header>
        <h1>{{ site.title }}</h1>
        <nav>
             <button onclick="location.href='/'">Home</button>
            <button onclick="location.href='/Resume'">Resume</button>
            <button onclick="location.href='/Portfolio'">Portfolio</button>
            <button onclick="location.href='/Contact'">Contact Me</button>
        </nav>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <p>&copy; {{ site.year }} {{ site.title }}. All rights reserved.</p>
    </footer>
</body>
</html>

